<h1>Disciplinas</h1>

{{#each desciplina}}
<div class="card">
    <div class="card-body">
        <h3>{{nome}}</h3>
        <p>{{slug}}</p>
        <small>{{data}}</small>
 </div>
 <a href="#"><button  class="btn btn-success">editar</button></a>
  <form action="/prof/disciplina/rem" method="POST">
    <input type="hidden", name="id", value="{{_id}}">
    <button type="submit" class="btn alert-danger">Deletar</button>

  </form>
</div>



 {{/each}}