{{#each categorias}}
<div class="card mt-2">
    <div class="card-body">
        <ul>
            <li><a href="/categorias/{{slug}}" class="nav-link">{{nome}}</a> </li>
        </ul>
        
    </div>
</div>
{{/each}}
